NEXT_PUBLIC_API_CLIENT_KEY='django-insecure-6spl5x*g#*xachcf(w4%c9&7o+y04599c4jqo!@nlm+p3di##g'
NEXT_PUBLIC_APP_NAME="VAi Radiology Task"
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000/api/v1
NEXT_PUBLIC_NEXTAUTH_URL=http://127.0.0.1:3000
NEXT_PUBLIC_APP_BASE_URL=http://127.0.0.1:3000
NEXT_PUBLIC_IMAGE_BASE_URL=http://127.0.0.1:8000/uploads/