
DEBUG=True
SECRET_KEY='django-insecure-6spl5x*g#*xachcf(w4%c9&7o+y04599c4jqo!@nlm+p3di##g'
OLD_SECRET_KEY=hello_world
APP_NAME='VAi Radiology Task'

DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000,http://localhost:3000,http://127.0.0.1:3000
DAJNGO_CORS_ALLOW_HEADERS=accept,accept-encoding,authorization,content-type,dnt,origin,user-agent,x-csrftoken,x-requested-with,x-client-key,x-api-token,x-app-client,x-request-id
DJANGO_CORS_ALLOW_METHODS=DELETE,GET,OPTIONS,PATCH,POST,PUT

JWT_ACCESS_TOKEN_LIFETIME_MINUITE=15
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7
JWT_ROTATE_REFRESH_TOKENS=True
JWT_BLACKLIST_AFTER_ROTATION=True
JWT_UPDATE_LAST_LOGIN=True
JWT_ALGORITHM=HS256
JWT_SIGNING_KEY=None
JWT_AUTH_HEADER_TYPES=Bearer
JWT_USER_ID_FIELD=id
JWT_USER_ID_CLAIM=user_id

FRONTEND_BASE_URL=http://localhost:3000

CACHE_TIMEOUT=60*2
VERSION_TTL=60*60*24  # KEY LIVES 24 HOURS